<link rel="stylesheet" href="/static/style.css">
<h1>ADMIN DASHBOARD</h1>

<form method="post" style="text-align:center;">
<select name="category">
<option value="hospital">Hospital</option>
<option value="blood">Blood Bank</option>
<option value="ngo">NGO</option>
</select><br><br>

<input name="name" placeholder="Name"><br><br>
<input name="location" placeholder="Location"><br><br>
<input name="phone" placeholder="Phone"><br><br>
<input name="map_link" placeholder="Google Map Link"><br><br>

<button>ADD</button>
</form>